.container{
  width: 1150px;
  margin: 0 auto;
}

.full-row{
  width: 100%;
  display: table;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1{
  box-sizing: border-box;
  position: relative;
  float: left;
  padding: 0 20px;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-1 {
  width: 8.333333333333332%;
}
