.list-header{
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
  border-bottom: 1px solid #DDD;
}
.list-row{
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid #DDD;
  &:nth-child(2n){
    background-color: #EEE;
  }
  .searched{
    font-weight: 700;
    color: $primary-color;
  }
}
.tag,
.tag-title{
  display: table;
  float: left;
  padding: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #282c34;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 20px 20px 0;
  font-size: 12px;
  letter-spacing: 1px;
}
.tag-title{
  padding: 5px 0;
  background-color: #FFFFFF;
  color: #282c34;
}