@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

/* Imports - Miscellaneous */
@import 'assets/scss/variables';

body{
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

/* Imports - Components */
@import 'assets/scss/components/cities';

/* Imports - Base */
@import 'assets/scss/base';